<body class="exception-body" >
  <div class="exception-wrapper error">
    <img src="assets/layout/images/error.png" />

    <p class="message-title">Exception Occured!</p>
    <p class="message-summary">Please contact system administrator</p>

    <a href="/">
      <!--<i class="fa fa-home"></i>-->
      <!--<span >Dashboard</span>-->
      <div id="dashboard" class="GreenButton" (click)="goToStartPage()">Back to start</div>
    </a>
    <a href="/">
      <div id="login" class="GreenButton" (click)="goToLoginPage()">Authorize</div>
    </a>

    <div class="login-footer">Synergy Sports Technology</div>
  </div>

</body>
