<!--<div *ngIf="availableAvermediaButtons">-->
<div>
  <img [src]="remoteControlImg" alt="" usemap="#map" />
  <map name="map">
    <area (click)="onButtonClicked('guide')" shape="rect" coords="449, 330, 494, 359" title="Guide" />
    <area (click)="onButtonClicked('f2')" shape="rect" coords="336, 519, 381, 548" title="F2" />
    <area (click)="onButtonClicked('f3')" shape="rect" coords="393, 519, 438, 546" title="F3" />
    <area (click)="onButtonClicked('f4')" shape="rect" coords="450, 516, 495, 545" title="F4" />
    <area (click)="onButtonClicked('red')" shape="rect" coords="280, 479, 325, 508" title="Red" />
    <area (click)="onButtonClicked('green')" shape="rect" coords="334, 478, 379, 507" title="Green" />
    <area (click)="onButtonClicked('yellow')" shape="rect" coords="391, 479, 436, 510" title="Yellow" />
    <area (click)="onButtonClicked('blue')" shape="rect" coords="449, 480, 494, 508" title="Blue" />
    <area (click)="onButtonClicked('info')" shape="rect" coords="394, 330, 439, 359" title="Info" />
    <area (click)="onButtonClicked('fwd')" shape="rect" coords="449, 381, 494, 410" title="Fwd" />
    <area (click)="onButtonClicked('next')" shape="rect" coords="448, 424, 493, 453" title="Next" />
    <area (click)="onButtonClicked('play')" shape="rect" coords="394, 383, 439, 412" title="Play" />
    <area (click)="onButtonClicked('rec')" shape="rect" coords="394, 423, 439, 452" title="Rec" />
    <area (click)="onButtonClicked('stop')" shape="rect" coords="335, 423, 380, 452" title="Stop" />
    <area (click)="onButtonClicked('prev')" shape="rect" coords="278, 422, 323, 451" title="Prev" />
    <area (click)="onButtonClicked('rew')" shape="rect" coords="280, 381, 325, 410" title="Rew" />
    <area (click)="onButtonClicked('pause')" shape="rect" coords="338, 382, 383, 411" title="Pause" />
    <area (click)="onButtonClicked('exit')" shape="rect" coords="339, 330, 384, 359" title="Exit" />
    <area (click)="onButtonClicked('menu')" shape="rect" coords="279, 330, 324, 359" title="Menu" />
    <area (click)="onButtonClicked('f1')" shape="rect" coords="278, 517, 323, 546" title="F1" />
    <area (click)="onButtonClicked('up')" shape="poly" coords="359, 151, 324, 116, 358, 96, 411, 96, 448, 115, 419, 152, 384, 141" title="Up" />
    <area (click)="onButtonClicked('right')" shape="poly" coords="429, 219, 439, 192, 429, 165, 463, 134, 489, 169, 489, 221, 464, 258" title="Right" />
    <area (click)="onButtonClicked('down')" shape="poly" coords="326, 267, 360, 236, 391, 246, 412, 238, 450, 275, 385, 298, 348, 290" title="Down" />
    <area (click)="onButtonClicked('left')" shape="poly" coords="306, 253, 283, 209, 286, 169, 306, 134, 342, 167, 334, 199, 344, 223" title="Left" />
    <area (click)="onButtonClicked('mute')" shape="rect" coords="102, 411, 165, 451" title="Mute" />
    <area (click)="onButtonClicked('d0')" shape="rect" coords="101, 330, 164, 370" title="D0" />
    <area (click)="onButtonClicked('cnUp')" shape="circle" coords="214, 427, 30" title="CnUp" />
    <area (click)="onButtonClicked('ok')" shape="circle" coords="385, 193, 30" title="OK" />
    <area (click)="onButtonClicked('cnDown')" shape="circle" coords="213, 514, 30" title="CnDown" />
    <area (click)="onButtonClicked('volDown')" shape="circle" coords="53, 519, 30" title="VolDown" />
    <area (click)="onButtonClicked('volUp')" shape="circle" coords="53, 426, 30" title="VolUp" />
    <area (click)="onButtonClicked('enter')" shape="rect" coords="175, 330, 238, 370" title="Enter" />
    <area (click)="onButtonClicked('oneOrTen')" shape="rect" coords="28, 329, 91, 369" title="OneOrTen" />
    <area (click)="onButtonClicked('d7')" shape="rect" coords="27, 274, 90, 314" title="D7" />
    <area (click)="onButtonClicked('input')" shape="rect" coords="169, 86, 248, 128" title="Input" />
    <area (click)="onButtonClicked('d1')" shape="rect" coords="27, 155, 90, 195" title="D1" />
    <area (click)="onButtonClicked('power')" shape="rect" coords="33, 83, 112, 125" title="Power" />
    <area (click)="onButtonClicked('d8')" shape="rect" coords="102, 272, 165, 312" title="D8" />
    <area (click)="onButtonClicked('refresh')" shape="rect" coords="100, 490, 163, 530" title="Refresh" />
    <area (click)="onButtonClicked('d6')" shape="rect" coords="175, 215, 238, 255" title="D6" />
    <area (click)="onButtonClicked('d3')" shape="rect" coords="175, 157, 238, 197" title="D3" />
    <area (click)="onButtonClicked('d2')" shape="rect" coords="101, 155, 164, 195" title="D2" />
    <area (click)="onButtonClicked('d5')" shape="rect" coords="101, 214, 164, 254" title="D5" />
    <area (click)="onButtonClicked('d4')" shape="rect" coords="26, 214, 89, 254" title="D4" />
    <area (click)="onButtonClicked('d5')" shape="rect" coords="175, 274, 238, 314" title="D9" />
  </map>
</div>
