<sn-page [title]="title">
  <sn-loading-status [loading]="loading" content="loading"></sn-loading-status>
  <div content="body" class="ui-g">
    <div *ngIf="!divisions && !loading">Division not found.</div>
    <form *ngIf="divisions" [formGroup]="form" class="ui-g-12">
      <div class="ui-g-2">
        <sn-select-sport [sport]="sportId"
                         (sportChanged)="sportChanged($event)"></sn-select-sport>
      </div>
      <div class="ui-g-2">
        <sn-select-league [sport]="sportId"
                          [league]="leagueId"
                          (leagueChanged)="leagueChanged($event)"></sn-select-league>
      </div>
      <div class="ui-g-2">
        <!--<sn-select-conference [league]="leagueId"
       [conference]="conferenceId"
      (conferenceChanged)="conferenceChanged($event)"
       &gt;</sn-select-conference>-->
      </div>
      <div class="ui-g-2"></div>     
      <div class="ui-g-4">
        <button pButton type="button" label="Search" (click)="search()" [disabled]=" ! form.valid "></button>
        <button pButton type="button" label="Clear Filter" (click)="clearFilter()" [disabled]=" ! form.valid "></button>
            </div>

      </form>
    <div class="SeparatorFull"></div>
    <div class="ui-g-12">
      <p-dataTable *ngIf="! loading" [value]="divisions">
        <p-header>
          <sn-table-header #header [name]="'Divisions List'" (add)="onAdd()"></sn-table-header>
        </p-header>
        <p-column [hidden]="! header.isIdsVisible()" field="id" header="DivisionId">
          <!--<template let-col let-division="rowData" let-ri="rowIndex" pTemplate type="body">
              <a [routerLink]="['/sport/divisions', division.id]">{{division[col.field]}}</a>
          </template>-->
        </p-column>
        <p-column field="iid" header="IID" [style]="{'width': '80px'}"></p-column>
        <p-column field="name" header="Name"></p-column>
        <p-column field="abbreviation" header="Abbreviation"></p-column>
        <p-column header="Conference">
          <template let-col let-division="rowData" let-ri="rowIndex" pTemplate type="body">
            <a *ngIf="division.conference" [routerLink]="['/sport/conferences', division.conference.id]">{{division.conference.name}}</a>
          </template>
        </p-column>
        <p-column header="League">
          <template let-col let-division="rowData" let-ri="rowIndex" pTemplate type="body">
            <a *ngIf="division.league" [routerLink]="['/sport/leagues', division.league.id]">{{division.league.name}}</a>
          </template>
        </p-column>
        <p-column header="Sport">
          <template let-col let-division="rowData" let-ri="rowIndex" pTemplate type="body">
            <a *ngIf="division.sport" [routerLink]="['/sport/sports', division.sport.id]">{{division.sport.id}}</a>
          </template>
        </p-column>
        <p-column header="Actions" [style]="{'text-align': 'center', 'width':'80px'}">
          <template let-division="rowData" pTemplate="body">
            <button pButton type="button" (click)="onEdit(division.id)" icon="fa-pencil-square-o"></button>
            <button *ngIf="false" pButton type="button" (click)="onDelete(sport.id)" icon="fa-trash" class="ui-button-danger"></button>
          </template>
        </p-column>
      </p-dataTable>
      <sn-paginator *ngIf="! loading"
                    [page]="page.number"
                    [size]="page.size"
                    [total]="total"
                    (onPageSelected)="goToPage($event)"></sn-paginator>
    </div>
  </div>
</sn-page>
